--- 
title: Accessing Public Data using R and Bioconductor
---

<h2>Accessing Public Data using R and Bioconductor</h2>

This little tutorial describes the tools used to access public data
from the NCBI Gene Expression Omnibus and the Sequence Read Archive.
Tools covered include GEOquery, GEOmetadb, and SRAdb.  The tutorial materials
include:

<ul>
  <li><a href="publicDataTutorialOverview.pdf">PDF of the overview talk</a></li>
  <li><a href="publicDataTutorial.pdf">PDF version of the
  vignette</a></li>
  <li><a href="publicDataTutorial.R">The code extracted from the
  vignette (good for cut-and-paste)</a></li>
  <li><a href="publicDataTutorial.Rnw">Sweave version of the
  vignette</a></li>
</ul>

Execute the following code to download the files using R and to set up
your R session:

<pre>
download.file('http://watson.nci.nih.gov/~sdavis/tutorials/publicdatatutorial/publicDataTutorial.R',destfile='publicDataTutorial.R')
download.file('http://watson.nci.nih.gov/~sdavis/tutorials/publicdatatutorial/publicDataTutorial.Rnw',destfile='publicDataTutorial.Rnw')
download.file('http://watson.nci.nih.gov/~sdavis/tutorials/publicdatatutorial/publicDataTutorial.pdf',destfile='publicDataTutorial.pdf')
library(BiocInstaller)
biocLite(c('GEOquery','GEOmetadb','SRAdb','RMySQL'))
</pre>


