--- 
title: TCGA Data Integration Tutorial
---

<h2>A Simple Data Integration Exercise Using Data from the TCGA Project</h2>

<p>
This tutorial is a simplistic introduction to data integration through
experience and utilizes R and Bioconductor tools.  Data from 45 TCGA glioblastoma multiforme patients are
used to demonstrate how even a relatively simple analysis can lead to
very interesting biological hypotheses.  The tutorial combines:
<ul>
  <li>Gene expression data (Agilent)</li>
  <li>Gene copy number data (Agilent)</li>
  <li>DNA methyation data (Illumina array)</li>
</ul>
</p>
<p>
The data are stored in an R package called TCGAGBM.  To install the
package, execute the following in R (cut-and-paste):

<pre>
source('http://bioconductor.org/biocLite.R')
biocLite(c('IlluminaHumanMethylation27k.db','Biobase','GEOquery',
           'GEOmetadb','DNAcopy','limma','Rgraphviz','SRAdb','xtable','methylumi'))
biocLite('TCGAGBM',siteRepos='http://watson.nci.nih.gov/~sdavis/software/R',type='source')
</pre>

<h3>How to follow the tutorial</h3>
<strong>The first two sections of the tutorial are for reading only</strong>, as it is
not possible to distribute all the raw data efficiently.  Starting with
section 3, the tutorial is meant to be typed (or cut-and-pasted)
directly into R.
</p>
<p>
While the tutorial is meant to be instructive itself, there are many
tangents to follow that are not detailed in the tutorial itself.  So,
a second purpose of the tutorial is to provide a very clean,
well-organized data set for further experimentation.
</p>

<h3>Tutorial Materials</h3>
<ul>
  <li><a href="TCGA.html">HTML version of the tutorial</a></li>
  <li><a href="TCGA.pdf">PDF version of the
  tutorial</a></li>
  <li><a href="TCGA.R">The code extracted from the
  tutorial (good for cut-and-paste)</a></li>
  <li><a href="TCGA.Rnw">Sweave version of the
  tutorial</a></li>
</ul>
