--- 
title: Using Biowulf at the NIH for next-generation sequence data analysis
kind: article 
created_at: Thursday, March 24, 2011
author_name: Sean Davis
author_uri: http://watson.nci.nih.gov/~sdavis/ 
tags:
 - bioinformatics
 - tutorial
 - sequencing
 - chip-seq
 - RNA-seq
 - exome-capture
---

<p>
The Helix/Biowulf staff at the <a href="http://cit.nih.gov/">Center for Information Technology (CIT)</a> at the <a href="http://www.nih.gov">National Institutes of Health (NIH)</a> maintains a large linux cluster named <a href="http://biowulf.nih.gov">Biowulf</a>.  Currently at about 10k cores and with current user limits of about 500 simultaneous cores per user, one can get a lot done quickly.  Importantly, the staff that support the machine and the software installed on it are incredibly responsive and thoughtful.
</p>

<p>
This course is designed as an introduction to next-generation sequence analysis using command-line tools. While the topics covered will be generally applicable to data derived from any second-generation sequencing platform, some special attention is paid to Illumina data.
</p>

<p>
A lab component introduces participants to tools for quality assessment, alignment, post-alignment processing, and visualization of data using some example datasets. The lab will use the Biowulf computing environment to submit jobs and assumes familiarity with using the linux command line.
</p>

<h3>Objectives:</h3>
<ul>
<li>Overview of sequencing technologies</li>
<li>Overview of ChIP-seq, RNA-seq, and exome capture applications</li>
<li>Data formats</li>
<li>Quality assessment of data</li>
<li>Tools for alignment</li>
<li>Overview of samtools and related toolkits</li>
<li>Visualization of data</li>
</ul>

<h3>Availability of Course Materials</h3>
The tutorial is <a href="http://watson.nci.nih.gov/~sdavis/tutorials/biowulf-2011/">available on my website</a>. 