--- 
title: Using TRAMP for remotely editing files in emacs
kind: article
created_at: Wednesday, August 18, 2010
author_name: Sean Davis
author_uri: http://watson.nci.nih.gov/~sdavis/
tags:
  - mac os
  - linux
  - tramp
  - emacs
---
TRAMP allows many different potential connection types to edit remote files. The connection type that I use most commonly is ssh. Open a file as usual usint Ctl-x Ctl-f. When giving the filename in the minibuffer, do:

<pre>/ssh:username@host:/path/to/file</pre>

Tab completion works as with scp or the shell. And, of course, one should set up passwordless ssh to use ssh as the connection method. Other possibilities include WebDAV, ftp, and smb, to name a few.

There is a fairly full discussion of <a href="http://www.emacswiki.org/emacs/TrampMode">TRAMP mode</a> on the Emacs Wiki.

