--- 
title: git-svn for Bioconductor Repository
kind: article
created_at: Friday, June 18, 2010
author_name: Sean Davis
author_uri: http://watson.nci.nih.gov/~sdavis/
tags:
  - git
  - svn
  - git-svn
  - bioconductor
---

I love svn.  It is a great tool for version control.  However, if svn is a great tool , git is the entire hardware store.  I wanted to follow the branches and trunk for my methylumi package on bioconductor.  It turns out this is very easy to do.  First, clone the repository:
<pre>
git svn clone -r 40000:HEAD \
--trunk=trunk/madman/Rpacks/methylumi \
--branches="branches/*/madman/Rpacks/methylumi" \
https://hedgehog.fhcrc.org/bioconductor methylumi
</pre>
This command starts at revision 40000 in the SVN repository and begins walking.  In this case, the repository is in a strange layout with URLS like:
<pre>
https://hedgehog.fhcrc.org/bioconductor/branches/RELEASE_2_6/madman/Rpacks/methylumi
</pre> 
for branches and:
<pre>
https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks/methylumi
</pre>
for trunk.

After completing the command above (and it may take QUITE SOME TIME), one ends up on the master branch which will track "trunk".  To make a local branch that tracks the remote branches (which will automatically be created), one simply does something like:
<pre>
git checkout -b local_2_5 RELEASE_2_5
</pre>
The "local_2_5" will be the name of the local branch and the "RELEASE_2_5" is the remote branch that you want to follow; the remote branch will have been created automatically by the clone command above.

When a new branch is added on the svn server (as happens with a release), one must use:
<pre>
git svn fetch
</pre>
to capture the new branches.  This can be done from any branch and adds new branches that have been added since the original checkout.  Then, adding a new local branch is just as above.
