--- 
title: git for projects with large files
kind: article
created_at: Thursday, February 10, 2011 07:20:45
author_name: Sean Davis
author_uri: http://watson.nci.nih.gov/~sdavis/
tags:
  - git
  - programming
---

<p>I have many projects for which I would like to track "code" but not data, particularly since the data are typically huge.  To do this with git, I had been using the model of trying to segregate the code from the data and then using git to track just the code part of the directory.  This works fine, but then I found myself relying on directory structure, file paths, and other "environment" variables that were not included in the git repository.  In other words, it was better to leave the code and data intermixed.</p>

<p>The <code>.gitignore</code> file allows quite complex things to be ignored.  There are a couple of important details for using .gitignore to track only a subset of files and ignore all others:
<ol>
  <li>The .gitignore file is processed from top-to-bottom and later rules override earlier ones, in a sense</li>
  <li>Prefacing a rule with a "!" results in logical negation.</li>
</ol>
<p>So, to add all .R, .cmd, and .sh files, the following .gitignore file will do the trick: </p>


<pre>
<code class="language-sh">
*
!*.R
!*.py
!*.cmd
!*.sh
!*/
</code>
</pre>

<p>The last line is important to include directories.  Otherwise, the first line will exclude the normal recursive behavior of git.  Now, I can happily run <code>git add .</code> in my top-level project directory and safely ignore all the big, unimportant stuff and capture all my carefully crafted scripts.</p>
