--- 
title: Parsing NCBI GEO data with the XML R package
kind: article
created_at: Thursday, May 27, 2010
author_name: Sean Davis
author_uri: http://watson.nci.nih.gov/~sdavis/
tags:
  - R
  - XML
  - bioinformatics
  - GEO
  - microarray
---

<p>I ran across an edge case (that is actually a fairly large edge) with GEO data that could potentially be handled nicely with XML parsing of the GEO MiniML format files.  In particular, GEO is now maintaining "Data Tables" in GSE records.  As an example, see <a href="http://www.ncbi.nlm.nih.gov/projects/geo/query/acc.cgi?acc=GSE3494">the GSE3494 entry</a>.  Obviously, those data tables are quite important, as they contain the sample mappings to GEO accession numbers and all the clinical covariates.  One can certainly argue that having the data in this disjoint form is not particularly useful, particularly for programmatic access, but that is for another day.  If one clicks on the "View full table..." button, the result is an HTML page that is nearly impossible to parse.</p>

<p>To get at the table data, one needs to download the GSE record in some form.  It turns out that choosing something like shown in this screen shot:

<div class="separator" style="clear: both; text-align: center;">
<a href="http://4.bp.blogspot.com/_uZMUhbwBto4/S_5lNiltFZI/AAAAAAAAA8A/9wSzQMy6XI4/s1600/geo_miniml.png" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="160" src="http://4.bp.blogspot.com/_uZMUhbwBto4/S_5lNiltFZI/AAAAAAAAA8A/9wSzQMy6XI4/s640/geo_miniml.png" width="500" /></a></div>
will do the trick. The output will look <a href="http://www.ncbi.nlm.nih.gov/projects/geo/query/acc.cgi?targ=self&amp;form=xml&amp;view=full&amp;acc=GSE3494">like this</a>.  Note that the data tables are in the xml file, as well as the column descriptions.</p>  

<p>To start working on this in R, the XML package is the way to go:
<pre>
<code class="language-r">install.packages("XML")
library("XML")
# Load the data
dat = xmlTreeParse("http://www.ncbi.nlm.nih.gov/projects/geo/query/acc.cgi?targ=self&amp;form=xml&amp;view=full&amp;acc=GSE3494")
</code>
</pre>
Getting at the tables is pretty simple:
<pre><code class="language-r">doc1 = xmlRoot(dat)
nodeset = getNodeSet(doc1,"//ns:Internal-Data","ns")
datatablelist = lapply(nodeset,function(x) {
tc=textConnection(xmlValue(x))
ret = read.delim(tc,sep="\t",header=FALSE)
close(tc)
return(ret)})
</code>
</pre>

At this point, there is a two-member list, each with a data.frame containing the original data tables.  
<pre><code class="language-r">str(datatablelist)
List of 2
$ :'data.frame': 251 obs. of  12 variables:
..$ V1 : Factor w/ 251 levels "X100B08","X101B88",..: 2 3 5 9 10 18 25 31 32 34 ...
..$ V2 : Factor w/ 2 levels "p53+","p53-": 1 1 1 1 1 1 1 1 1 1 ...
..$ V3 : int [1:251] 1 1 0 1 1 1 1 1 0 1 ...
..$ V4 : int [1:251] 0 0 1 0 0 0 0 0 1 0 ...
..$ V5 : Factor w/ 4 levels "G1","G2","G3",..: 3 3 3 2 3 3 2 3 2 3 ...
..$ V6 : Factor w/ 3 levels "ER+","ER-","ER?": 2 1 1 1 1 1 2 2 1 2 ...
..$ V7 : Factor w/ 2 levels "PgR+","PgR-": 2 1 1 1 1 1 2 2 1 2 ...
..$ V8 : int [1:251] 40 51 80 74 41 57 68 93 40 34 ...
..$ V9 : num [1:251] 12 26 24 20 33 22 6 29 21 50 ...
..$ V10: Factor w/ 3 levels "LN+","LN-","LN?": 2 2 3 2 2 2 2 3 2 1 ...
..$ V11: num [1:251] 11.83 11.83 3.58 11.67 7.17 ...
..$ V12: int [1:251] 0 0 0 0 1 1 0 0 0 NA ...
$ :'data.frame': 502 obs. of  3 variables:
..$ V1: Factor w/ 502 levels "GSM79114","GSM79115",..: 1 2 3 4 5 6 7 8 9 10 ...
..$ V2: Factor w/ 251 levels "X100B08","X101B88",..: 1 2 3 4 5 6 7 8 9 10 ...
..$ V3: Factor w/ 2 levels "HG-U133A","HG-U133B": 1 1 1 1 1 1 1 1 1 1 ...
</code>
</pre>

Pulling out the column headers is the next step in the process.  The result is here:

<pre><code class="language-r">getGSEDataTables = function(GSE) {
  require(XML)
    url=sprintf("http://www.ncbi.nlm.nih.gov/projects/geo/query/acc.cgi?targ=self&form=xml&view=full&acc=%s",GSE)
    doc1 = xmlRoot(xmlInternalTreeParse(url))
    dTableNodes = getNodeSet(doc1,"//ns:Data-Table","ns")
    dTables = sapply(dTableNodes,function(x) {
     cnames=sapply(getNodeSet(x,"ns:Column/ns:Name","ns"),xmlValue)
  dTableText=xmlValue(getNodeSet(x,"ns:Internal-Data","ns")[[1]])
  tc = textConnection(dTableText)
  dTable = read.delim(tc,sep="\t",header=FALSE)
  colnames(dTable)=cnames
  return(dTable)
 })
    return(dTables)
}
</code>
</pre>
</p>