--- 
title: Quickstart pip and paster
kind: article
created_at: 1/09/2011T13:09:00-05:00
author_name: Sean Davis
author_uri: http://watson.nci.nih.gov/~sdavis/
tags:
  - paste
  - paster
  - programming
  - python
---

If you run "pip install repo", it will try to find a package in http://pypi.python.org/ named "repo".

Run the following commands:

<pre><code class="language-sh">pip install pastescript
paster create myapp
cd myapp/
python setup.py sdist register upload
</code></pre>

That's all you need to do to have your "myapp" project uploaded to PyPI. From now onwards, anyone connected to the internet will be able to run "pip install myapp" to get your package.
