--- 
title: Setting up nanoc blogging
kind: article
created_at: Sat Jan 29 18:21:07 EST 2011
author_name: Sean Davis
author_uri: http://watson.nci.nih.gov/~sdavis/
tags:
  - nanoc
  - web
---

<h2>Getting started</h2>

See <a href="http://starrhorne.com/posts/howto_build_a_blog_with_nanoc/">How to build a blog with nanoc</a>.  To create a new blog item:

<pre>
nanoc create item blog/new_blog_item/
</pre>

The header of the blog item must contain:

<pre>
--- 
title: Setting up nanoc blogging
kind: article
created_at: Sat Jan 29 18:21:07 EST 2011
author_name: Sean Davis
author_uri: http://watson.nci.nih.gov/~sdavis/
---
</pre>

</ol>


