--- 
title: sshfs Under Snow Leopard as an alternative to nfs, afp, and smb
kind: article
created_at: Friday, September 17, 2010
author_name: Sean Davis
author_uri: http://watson.nci.nih.gov/~sdavis/
tags:
  - MacOS
  - sshfs
---
There are a number of ways to share a file system including NFS, SMB, AFP, and, now, ssh.  The file system, called sshfs, uses an ssh tunnel to share a file system from a remote system (like a NAS) to the local system in the same way that these other protocols do.  However, unlike the other protocols named above, sshfs appropriately maps a username, does not require special software on the server other than working ssh.  It does require software on the client system, though.

To get started:
<ol>
<li>Download and install <a href="http://code.google.com/p/macfuse/">MacFUSE</a>.</li>
<li>Download and install <a href="http://pqrs.org/macosx/sshfs/index.html">sshfs</a>
</ol>
These steps will install the sshfs mounter under /Applications.  Specifically, you can now mount a filesystem to which you have access with ssh:  <pre>mkdir ~/sshfs/server1 
</pre>
The mount point is now established.  Now for the mount:  <pre>/Applications/sshfs/bin/mount_sshfs user@host.example.com: ~/sshfs/server1 
</pre>
The directory <code>~/sshfs/server1</code> should now contain the user home directory from host.example.com.  If following symlinks is important, add a "-L" to the mount_sshfs command.    Further details about the sshfs tools included are <a href="http://pqrs.org/macosx/sshfs/document.html">available here</a>, including a note on how to <a href="http://pqrs.org/macosx/sshfs/document.html#t3p3">mount an sshfs file system at login</a>.

