--- 
title: Recent Blogging
---

<div class="blog-list">
  <% @site.sorted_articles[0, 20].each do |post| %>
  <div class="blog-item">
    <hr \>
    <% t = attribute_to_time(post[:created_at]) %>
    <h3><%= post[:title] %></h3>
    <p>
      <%= content_for(post, :summary) || 'No summary available.' %>
    </p>
    <hr \>
    <div>
      <%= t.strftime('%A, %B %-d, %Y') %> | tags: <%= tags_for(post) %>
      <div class="pull-right">
	<a href="<%= post.rep_named(:default).path %>">Read more...</a>
      </div>
    </div>
    <hr \>
  </div>
  <% end %>
</div>
