--- 
title: Home
---

<div class="jumbotron">
<h1><i>SeanDavis@NCI</i></h1>
<br/>
<p>As a researcher at the <a href="http://www.cancer.gov">National Cancer Institute</a>, part of the <a href="http://www.nih.gov">National Institutes of Health</a>, I work broadly in the areas of genomics and bioinformatics of high-throughput data analysis.  In addition to data analysis and biologically-driven projects, I have a strong interest in developing software and tools for analysing and interpreting genomic data and help to lead the <a href="http://bioconductor.org">Bioconductor</a> project.  Take a look at my <a href="publications/">publications page</a> or my <a href="http://scholar.google.com/citations?user=hLFc29kAAAAJ" target="_blank">Google Scholar Profile</a> for details.</p>
</div> 

<div >
<h2>Recent Blog Posts</h2>
<div class="row">
<% @site.sorted_articles[0,3].each do |post| %>
<div class="col-sm-4">
<h4><%= post[:title] %></h4>
<p><%= post[:created_at] %></p>
  <p>
  <%= content_for(post, :summary) || '(no summary)' %>
  </p>
<button type="button" class="btn btn-default"><a href="<%= relative_path_to(post.identifier) %>">Read more &raquo;</a></button>

</div>
<% end %>
</div>
<hr />
</div>




