--- 
title: Software
---

<h1>Software</h1>
<ul>
  <li><h2>Bioconductor & R Packages</h2></li>
  <ul>
    <li><a href="http://bitbucket.org/henryhzhang/rcircos">RCircos</a></li>
    <li><a href="http://bioconductor.org/help/bioc-views/release/bioc/html/ACME.html">ACME</a></li>
    <li><a href="http://bioconductor.org/help/bioc-views/release/bioc/html/biomaRt.html">biomaRt</a></li>
    <li><a href="http://bioconductor.org/help/bioc-views/release/bioc/html/GEOmetadb.html">GEOmetadb</a></li>
    <li><a href="http://bioconductor.org/help/bioc-views/release/bioc/html/GEOquery.html">GEOquery</a></li>
    <li><a href="http://bioconductor.org/help/bioc-views/release/bioc/html/methylumi.html">methylumi</a></li>
    <li><a href="http://bioconductor.org/help/bioc-views/release/bioc/html/SRAdb.html">SRAdb</a></li>
  </ul>
  <li><h2>Other</h2></li>
  <ul>
    <li><a href="http://github.com/seandavi/ngCGH">Next-Gen Sequencing CGH</a></li>
    <li><a href="http://github.com/seandavi/CompleteGenomicsTools">A small utility toolset for Complete Genomics Data handling</a></li>
   <li><a href="http://www.biopython.org/DIST/docs/api/Bio.UniGene-module.html">Bio.UniGene</a></li>
 </ul>
</ul>
