--- 
title: Tutorials
---
<h2>Tutorials</h2>

<h3>Introduction to R</h3>
The tutorial is presented as a set of slides with the expectation that the reader will follow along typing the commands into R.  The materials for the tutorial are:
<ul>
<li><%= link_to('The tutorial slides','/assets/tutorials/rintro/RIntro.pdf') %></li>
<li><%= link_to('The R code in the slides','/assets/tutorials/rintro/RIntro.R') %></li>
</ul>

In this tutorial, I give an overview of basic R concepts including:
<ul>
<li>What is R?</li>
<li>Getting R</li>
<li>Resources for getting help within and about R</li>
<li>R Data Structures</li>
<ul>
<li>Vectors</li>
<li>Rectangular data--matrices and data frames</li>
<li>Lists</li>
<li>Factors</li>
</ul>
<li>Control structures, looping, and applying</li>
<li>Introduction to functions</li>
</ul>

<h3><a href="http://watson.nci.nih.gov/~sdavis/BiocExomeData.pdf">Accomplishing Exome Sequencing Data Tasks with Bioconductor</a></h3>
<p>
This tutorial gives a few examples of how R and Bioconductor can be used to examine exome sequencing data.  The pdf version of the tutorial is <a href="http://watson.nci.nih.gov/~sdavis/BiocExomeData.pdf">here</a>.  To get started, paste the following code into an R session.  The BasicExomeExample package should be installed, also.
<pre>
# install the BasicExomeExample package
install.packages('BasicExomeExample',
  contriburl=contrib.url('http://watson.nci.nih.gov/~sdavis/software/R',
  type='source'),type='source')
# these are the vignette code examples, Sweave document, and PDF
download.file('http://watson.nci.nih.gov/~sdavis/BiocExomeData.R',
  'BiocExomeData.R')
download.file('http://watson.nci.nih.gov/~sdavis/BiocExomeData.Rnw',
  'BiocExomeData.Rnw')
browseURL('http://watson.nci.nih.gov/~sdavis/BiocExomeData.pdf')
</pre>
</p>


<h3><a href="TCGA_data_integration/">A Simple Data Integration
Exercise Using Data from the TCGA Project</a></h3>
<p>
This tutorial is a simplistic introduction to data integration through
experience and utilizes R and Bioconductor tools.  Data from 45 TCGA glioblastoma multiforme patients are
used to demonstrate how even a relatively simple analysis can lead to
very interesting biological hypotheses.  The tutorial combines:
<ul>
  <li>Gene expression data (Agilent)</li>
  <li>Gene copy number data (Agilent)</li>
  <li>DNA methyation data (Illumina array)</li>
</ul>
</p>

<h3><a href="publicdatatutorial/">Accessing Public Data using R and Bioconductor</a></h3>

<p>This little tutorial describes the tools used to access public data
from the NCBI Gene Expression Omnibus (GEO) and the Sequence Read
Archive (SRA).
Tools covered include GEOquery, GEOmetadb, and SRAdb.  A short section
on using the Integrative Genomic Viewer (IGV) from the Broad institute
to visualize aligned reads is also included.</p>

<p>The goals of this tutorial are to:
<ul>
  <li>Understand the data relationships stored in the NCBI Gene
  Expression Omnibus</li>
  <li>Learn to use the GEOquery package to access data from NCBI GEO
  and understand the data structures used to capture these data in
  R</li>
  <li>Learn how the GEOmetadb package can be useful for finding data
  in NCBI GEO</li>
  <li>Use the SRAdb package for querying metadata from the NCBI
  SRA</li>
  <li>Access ENCODE metadata from R using RMySQL</li>
</ul>
</p>  


<h3><a href="biowulf-2011/">Introduction to Next-Generation Sequence Data Analysis Using
Biowulf</a></h3>
<p>The goals of this tutorial are to:

<ul>
<li>Model a practical computational setup for next-gen sequence analysis including directory structure and installation and use of some common tools. Note: on helix and biowulf, some of these steps may not be necessary, as a large amount of software is already installed.</li>
<li>Provide small example datasets that allow for a hands-on approach to sequence analysis.</li>
<li>Promote experimentation and discussion regarding biological and
technical questions related to handling sequence data.</li>
</ul>

Although this tutorial is designed for use on the <a
href="http://helix.nih.gov">NIH Biowulf cluster</a>, the tutorial is
general enough that any linux or even Mac OS system can probably be
used to good effect.
</p>
<a href="biowulf-2011/">Go to the tutorial</a> or <a
href="/presentations/biowulf_2011_03/"> go to the talk</a>.

<h3><a href="CSHL2010/">Cold Spring Harbor 2010 Course Materials</a></h3>
<p>The goals of this tutorial are to:

<ul>
<li>Use Bioconductor tools to connect to public data resources
  including NCBI GEO.</li>
<li>Analyze a small Illumina Methylation dataset using methylumi.</li>
<li>Perform a simplistic data integration exercise using TCGA
glioblastoma copy number, gene expression, and methylation data.</li>
</ul>

</p>
<a href="CSHL2010/">HTML version</a> or <a
href="CSHL2010/CSHL2010.pdf">PDF version</a> of course materials.
