<!DOCTYPE HTML>
<html lang="en">
  <%= render 'head', :title => @item[:title] %>
  <body>
    <%= render 'header' %>
    <div class="container" id="main">
      <div id="content" class="row">
	  <%= yield %>
      </div>
    </div>
  </body>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2851481-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</html>
