  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">         <title>Sean Davis - <%= @title %></title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" type="text/css" href="/css/solarized.css" />
    <style>
      #main {
      padding-top:70px;
      }
      @media print {
        .noprint {
          display: none;
        }
      }
    </style>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery_flash.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <meta name="generator" content="nanoc 3.5" />
  </head>
