<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Sean Davis @ NCI</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/publications">Publications</a>
        </li>
        <li>
          <a href="/software">Software</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/tutorials">Tutorials</a>
        </li>
      </ul>
      <ul class="nav pull-right navbar-nav">
	<li class="divider-vertical">
	<li><a href="https://github.com/seandavi" title="GitHub--Social coding"><img src="/images/github-24x24.png" alt="github"></a></li>
	<li><a href="http://www.linkedin.com/in/seandavi" title="Linked In"><img src="/images/linkedin-24x24.png" alt="linkedin"></a></li>
	<li><a href="http://twitter.com/#!/@seandavis12" title="Follow me on Twitter"><img src="/images/twitter-24x24.png" alt="Follow me on Twitter" onmouseover="Follow me on Twitter"></a></li>
	<li><a href="http://feeds.feedburner.com/Bio-blue" title="My blog feed"><img src="/images/feed-24x24.png" alt="RSS Feed" onmouseover="My blog feed"></a></li>
	<li><a href="mailto:sdavis2@mail.nih.gov" title="Email me"><img src="/images/email-24x24.png" alt="email me"></a></li>
      </ul>
    </nav>
  </div>
</header>
