<div>
  <h2><%= @item[:title] %></h2>
  <% require 'time'
     t = Time.parse(item[:created_at]) %>
  <div>Written: <%= t.strftime("%A, %B %d, %Y") %></div>
</div>
<hr />
<p><%= yield %></p>
<hr />
<div class="row">
  <div class="span9">Tags: <%= tags_for(@item) %></div>
  <div class="span3">
    <a class="a2a_dd" href="http://www.addtoany.com/share_save">
      <img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"/>
    </a>
    <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
  </div>
</div>
<hr />
<div id="disqus_thread">
</div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'seandavisblog'; // required: replace example with your forum shortname

  // The following are highly recommended additional parameters. Remove the slashes in front to use.
  var disqus_identifier = '<%= atom_tag_for(@item) %>';
  var disqus_url = '<%= url_for(@item) %>';
  var disqus_title = '<%= @item[:title] %>';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
