	  <div id="inner-sidebar">
	    <h3>Blog Categories</h3>
	    <ul>
	    <% @site.config['tags'].sort.each do |tag| %>
	    <li><a href="/blog/tag/<%= tag %>/"><%= tag %> (<%= items_with_tag(tag).length %>)</a></li>
	    <% end %>
	    </ul>
	    <p><a href="http://feeds.feedburner.com/Bio-blue"><img src="http://feeds.feedburner.com/~fc/Bio-blue?bg=FF9966&amp;fg=444444&amp;anim=1" height="26" width="88" style="border:0" alt="" /></a></p>
	  </div>
