<% ilist = items_with_tag(@item[:tag]) %>
<h3>Items tagged with "<%= @item[:tag] %>"</h3>
<div class="blog-list">
  <% ilist.each do |post| %>
  <div class="blog-item">
    <hr \>
    <% t = attribute_to_time(post[:created_at]) %>
    <h3><%= post[:title] %></h3>
    <p>
      <%= content_for(post, :summary) || 'No summary available.' %>
    </p>
    <hr \>
    <div>
      <%= t.strftime('%A, %B %-d, %Y') %> | tags: <%= tags_for(post) %>
      <div class="pull-right">
	<a href="<%= post.rep_named(:default).path %>">Read more...</a>
      </div>
    </div>
    <hr \>
  </div>
  <% end %>
  <p><a href="http://feeds.feedburner.com/Bio-blue"><img src="http://feeds.feedburner.com/~fc/Bio-blue?bg=FF9966&amp;fg=444444&amp;anim=1" height="26" width="88" style="border:0" alt="" /></a></p>
</div>
