ul#navlist
{
margin-left: 0;
padding-left: 0;
padding-top: 30px;
padding-bottom: 10px;
white-space: nowrap;
}

#navlist li
{
float: right;
display: inline;
list-style-type: none;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

#navlist a { 
padding: 3px 10px; 
}

#navlist a:link, #navlist a:visited
{
background-color: #fff;
text-decoration: none;
}

#navlist a:hover
{
background-color: #fff;
text-decoration: none;
}

#inner-sidebar
{
background: white;
padding:10px;
margin-bottom: 20px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

#inner-main
{
background: white;
padding: 10px;
border-radius: 15px;
}

pre 
{
	border: 1pt solid #AEBDCC;
	background-color: #F3F5F7;
	font-family: courier, monospace;
        font-size: 90%;
	padding: 5px;
        overflow:auto;
}

body
{
	margin:	0px;
	padding: 0px;
	background-color: #56A5EC;
	border-top: 6px solid #ab2409;
}

h2
{
border-bottom:black 1pt solid;
}